body {
    margin:0; padding:0;
    font-family: "Avenir Next";
    font-family: "Avenir Next", Avenir, "Droid Sans", "DroidSansRegular", Corbel, Tahoma, Geneva, sans-serif;
    font-weight: 200;
    h1{
      font-weight: 100;
      text-align: center;
    }
}

#mainContent{
  width: 100vw;
  display: -webkit-box;
  #header{
    position: absolute;
    z-index: 10;
    background-color: white;
    padding: 20px;
    left: 0
  }
  #map {
    width:100vw;
    height: 80vh;
    min-height: 395px;
  }
  #map-markers-menu{
    position: absolute;
    left: 10px;
    top: 110px;

    img{
      width: 44px;
      background-color: white;
      border-radius: 6px;
      padding: 4px;
      display: -webkit-box;
      margin-top: 8px;
      box-shadow: 3px 4px 10px #989898;
    }
    img:hover{
      cursor: pointer;
    }
    .disable{
      opacity: 0.5;
    }
  }
}

.hide{
  display: none;
}
.show{
  display:inherit;
}

#popup-window{
  padding: 20px;
  position: fixed;
  z-index: 99999;
  background-color: white;
  width: 500px;
  top: 15vh;
  left: 20vw;
  box-shadow: 8px 10px 16px #9a9a9a;

  #close-button{
    width: 25px;
    position: absolute;
    right: 10px;
    top: 10px;
  }

  .input-div{
    margin-left: auto;
    margin-right: auto;
    width: 404px;
  }
  input{
    text-align: center;
    padding-top: 3px;
    padding-bottom: 4px;
    font-size: 12px;
    margin-top: 3px;
    margin-bottom: 3px;
  }
}

button{
  border-radius: 16px;
  padding: 7px;
  width: 120px;
  font-size: 17px;
  text-align: center;
  background-color: #9cda9c;
  border: none;
  color: white;
  margin-top: 30px;
  margin-left: 37%;
}

#element-form{
  margin-bottom: 30px;

  #form-menu{
    li{
      list-style: none;
      margin-left: 20px;
      margin-right: 20px;
      font-size: 20px;
    }

    ul{
      display: -webkit-box;
      margin-left: -20px;
      margin-bottom: 30px;
      cursor: pointer;
    }
    .active{
      color: grey;
      cursor: default;
    }
  }

  .input-div{
    margin-left: 30px;
    width: 75%;
  }
  input{
    width: 150px;
    padding: 12px;
    font-size: 18px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 10px;
  }
}

.mapboxgl-ctrl-bottom-right{
  display: none;
}
